<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.partyum.partyummanager">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".di.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/iv_partyum_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/iv_partyum_logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.PartyumManager">
        <activity android:name=".reservation.ReservationActivity" />
        <activity android:name=".document.DocumentActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.partyum.partyummanager.fileprovider"

                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider" />
        </provider>

    </application>

</manifest>